@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    background-color: #1e2327;
    color: white;
    font-family: "Asap", "Lato";
}

.header{
    margin-top:0px ;
    margin-bottom: 20px;
    box-shadow: 10px 0px #000;
    background-color: #000;
}

.logo{
    max-height: 10%;
    max-width: 10%;
    object-fit: contain;
}


ul{
    list-style-type: none;
}

.calendarbox{
    height: 100%;
}

.calendar{
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.calendar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.month ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    align-items: center;
}

.month .next{
    float: right;
    
    padding-top: 10px;
    align-items: center;
}

.days {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    padding: 10px 0;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 100%;
    gap: 1px;
}

.days li {
    display: inline-block;
    width: 14%;
    color: #fa4616;
    text-align: center;
}

.date_grid {
    padding: 10px 0;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 100% 100% 100% 100% 100% 100% 100%;
    width: 100%;
    gap: 1px;
}

.calendar_days{
    width: 4%;

}

.days li .active {
    padding: 5px;
    background: #fa4616;
    color: white;
}
