<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='delete_form.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='HelixrIcon.png') }}">
    <title>Fiscal Calendar | Helixr</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="delete_form">
        <form action='/delete_task' method="post" class="delete_task">
            <h2>Which task would you like to delete?</h2>
            <select name="task_select" id="task_select">
                {% for task in tasks %}
                    <option value="{{ task[0] }}">{{ task[0] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" id="submit_delete">
        </form>
    </div>
</body>
</html>